.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}


#displayArea {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 red;

}

#displayArea:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 1, 1, 0.2);
  }

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}